@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");
body {
  color: white;
}
.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}
.dropdown-item {
  color: white;
}
.dropdown-item :hover {
  background-color: grey;
  color: black;
}

.navbar-brand {
  font-family: "Jacquard 12", system-ui;
  font-size: 54px;
}

.login:hover + .login_menu {
  display: block;
}
.login_menu:hover {
  display: block;
}
